* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body {
  margin: 0;
  background: #181818;
  color: pink;
  /* google fonts */
  font-family: "Monda", sans-serif;
}

.wrapper{
  max-width: 1251px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.wrapperhide{
  background-color:rgb(0, 0, 0);
  position:absolute;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  /* on top of all elements */
  z-index:1000;
  /* vertical */
  align-items: center;
  /* horizonal */
  justify-content: center;
}

h1{
  font-size: 32px;
  color: rgb(221, 192, 255);
  border-bottom: 1px solid rgba(51, 51, 51, 0.5);
  padding-left: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
}

h2, h3{
  margin-left: 20px;
}

header {
  margin: 0;
  text-align: center;
  display: flex;
  /* vertical */
  align-items: center;
  /* horizonal */
  justify-content: center;
  width: 100%;
  background: linear-gradient(0deg, rgba(24,24,24,1) 2%, rgba(24,24,24,0) 10%),
      url(images/background1.jpg);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* hidden so it is revealed from the 
  bottom/inside header or else it would be
  visible outside the div */
  overflow: hidden;
  background-position-y: 93%;
  border-left: 1px solid rgba(51, 51, 51, 0.5);
  border-right: 1px solid rgba(51, 51, 51, 0.5);
  /* super secret css debug method */
  /* background: red; */
}

header p {
  font-size: 68px;
}

header img {
  width: 350px;
  position: relative;
}

nav {
  position: absolute;
  right: 0;
  /* position nav in black area of mountains */
  top: 428px;
  margin-right: 10px;
}

nav ul {
  text-align: right;
}

/* most styling is done on "a" so the entire box is able to be clicked */
nav ul li {
  display: inline;
  margin-right: 10px;
}

/* style nav links inside list element */
nav li a {
  font-size: 16px;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  /* remove underline */
  text-decoration: none;
  color: pink;
  border: 0px solid;
  /* hover fade */
  transition: 0.2s;
  border-bottom: 2px solid rgba(255, 192, 203, 0.74);
  position: relative;
}

nav li a:hover{
  border-bottom: 2px solid rgb(221, 192, 255);
  /* https://codersblock.com/blog/creating-glow-effects-with-css/ */
  box-shadow: 0px 10px 10px -10px rgb(221, 192, 255);
  color: rgba(221, 192, 255);
  text-shadow: rgb(221, 192, 255) 0px 0 8px;
}

article {
  background: #181818;
  padding: 0px 20px 20px 20px;
  margin-bottom: 0px;
}

/* I don't need the numbers for ordered lists */
article ol{
  list-style: none;
  text-align: center;
}

article p {
  padding: 10px;
  margin: 0;
  line-height: 32px;
  margin-bottom: 0;
  margin-left: 20px;
  transition: 0.2s;
}

.glow{
  /* https://codersblock.com/blog/creating-glow-effects-with-css/ */
  color: rgba(221, 192, 255);
  text-shadow: rgb(221, 192, 255) 0px 0 8px;
}

article img{
  border-radius: 10px;
  /* hover fade */
  transition: 0.2s;
  border-bottom: 2px solid rgba(255, 192, 203, 0.74);
  /* fixes mobile */
  width: 100%;
}

article img:hover{
  border-bottom: 2px solid rgb(221, 192, 255);
  box-shadow: 0px 10px 10px -10px rgb(221, 192, 255);
}

/* style links inside article element (email/github)*/
article a{
  color: rgb(221, 192, 255);
  text-decoration: none;
  transition: 0.8s;
}

article a:hover{
  color: #56ffda;
  text-shadow: #56ffda 0px 0 8px;
}

article .created, .contrib{
  font-size: 24px;
}

article .created{
  color: #56ffda;
}

article .contrib{
  color: #cf56ff;
}

article ol li{
  display: inline-block;
  padding: 10px;
  text-align: center;
  transition: 0.5s;
}

.artwork li{
  list-style: none;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}

.artwork img{
  max-width:100%;
  max-height:100%;
  border-radius: 10px;
  width: 75px;
  /* hover fade */
  transition: 0.2s;
  border-bottom: 2px solid rgba(255, 192, 203, 0.74);
}

.artwork img:hover{
  border-bottom: 2px solid rgb(221, 192, 255);
  box-shadow: 0px 10px 10px -10px rgb(221, 192, 255);
  cursor: pointer;
}

.artwork{
  text-align: center;
}

.artwork-image img{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border:0;
}

.artwork-image img:hover{
  border:0;
  box-shadow: none;
}

.imagebox-desc{
  background: rgb(0, 0, 0);
  text-align: center;
  color: #fff;
  padding:10px;
  position: relative;
  top: -10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

main{
  position: relative;
  border-left: 1px solid rgba(51, 51, 51, 0.5);
  border-right: 1px solid rgba(51, 51, 51, 0.5);
}

main .map{
  text-align: center;
  width: 100%;
}

main .map iframe{
  border-radius: 10px;
  width: 100%;
  max-width: 700px;
}

footer {
  background: #181818;
  background: linear-gradient(
    90deg,
   #111 0%,
    #181818 51%,
    #111 100%
  );
  width: 100%;
  text-align: center;
  border-top: 1px solid rgba(59, 59, 59, 0.486);
  padding: 40px;
  border-left: 1px solid rgba(51, 51, 51, 0.5);
  border-right: 1px solid rgba(51, 51, 51, 0.5);
}

footer .top{
  float: right;
  text-align: right;
  position: relative;
  top: -26px;
}

footer .top a{
  color: pink;
  text-decoration: none;
  transition: 0.8s;
}

footer .top a:hover{
  color: #56ffda;
  text-shadow: #56ffda 0px 0 8px;
}

footer p{
  margin:0;
}

hr{
  border-style: none;
  border-top: 1px solid rgba(51, 51, 51, 0.5);
}

 /* for the artwork display */
 /* https://stackoverflow.com/questions/3250790/making-a-div-that-covers-the-entire-page */
.overlay{
  background-color:rgba(0, 0, 0, 0.801);
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  /* on top of all elements */
  z-index:1000;
  /* start hidden */
  display: none;
  /* vertical */
  align-items: center;
  /* horizonal */
  justify-content: center;
  animation: fadeIn 0.3s;
}

/* for overlay fadein 
https://blog.hubspot.com/website/css-fade-in */
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
} 

/* https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #181818;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(53, 53, 53);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(43, 43, 43);
}